beautifulsoup4
bs4
certifi
chardet
click
cssselect
dominate
Flask
Flask-Bootstrap==3.3.7.1
Flask-Login
Flask-Script
Flask-SQLAlchemy
Flask-WTF
html2text
idna
itsdangerous
Jinja2
lxml
MarkupSafe
psycopg2
Pillow
readability-lxml
request
simplejson
SQLAlchemy
urllib3
visitor
Werkzeug
WTForms
